# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Blender temp files
*.blend1
*.blend2
*.blend@
*.blend~

# OS files
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/
*.code-workspace

# Packaging / build artifacts
*.zip
dist/
build/
